.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    height: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.58);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.58);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.58);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.58);
}

.btn__cart-icon {
    width: 20px;
}

.btn__cart-text {
    font-size: 18px;
}
